@import 'helpers/mixins';
@import 'helpers/placeholders';
@import 'helpers/variables';
@import 'helpers/functions';

// @import 'components/code-indenting';
// @import 'components/sub-sections';

@import 'layout/header.module';

html {
    font-size: 16px;
}

body {
    margin: 1rem;
}

.headerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: bisque;
}