@import 'helpers/mixins';
@import 'helpers/placeholders';
@import 'helpers/variables';
@import 'helpers/functions';

@import 'components/NavMenu';
// @import 'components/sub-sections';
@import 'components/Post';
@import 'components/Comment';
@import 'components/Loading';
@import 'components/PopularHeader';
@import 'layout/header';

@import 'pages/Thread';
@import 'pages/Subreddit';
@import 'pages/Home';


// font for community-icon
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');


html {
    font-size: 16px;
}

body {
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

ul {
    list-style-type: none; /* Removes bullets from an unordered list */
    padding: 0;

}


@media (min-width: $desktop){
    //if wide : the nav and main are flex in row
    // in root.js
    .wholeContainer{
        display: flex;

    }

}

    // in root.js
    .mainContainer {
        display: flex;
        padding: 1rem;
        max-width: 1094px;
    }
    

.community-icon{
    height: 100%; // to fit container
    width: 100%;
    margin-right: 0.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.searchResults-page-container {
    position: relative;
    top: $header-height;
}


















// <div className='default-community-icon-wrapper'>
//                 <div className='default-community-icon-text-r' > r </div>
//                 <div className='default-community-icon-text-slash' > / </div>
//             </div>
// .default-community-icon-wrapper {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 50px;
//     width: 50px;
//     object-fit: contain;
//     font: {
//         size: 2.25rem;
//         family: 'Roboto Mono', monospace;
//     }
//     letter-spacing: -7px ;
//     border: {
//         color: $reddit-img-background;
//         width: 3px;
//         style: solid;
//         radius: 50%
//         }  
//     .default-community-icon-text-r {
//         position: relative;
//         bottom: 6px;
//         color: $reddit-img-background;

//     }
//     .default-community-icon-text-slash {
//         position: relative;
//         right: 2px;
//         bottom: 7px;
//         font-stretch:200%;
//         font-size: 2.75rem;
//         font-stretch: condensed;
//         color: $reddit-img-background;
//     }
// }