@import '../components/SearchBar';
@import '../components/Burger';
@import '../components/Dropdown';

@import '../helpers/variables';


@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

.headerContainer {
    height: $header-height;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
    background-color: #fff;
    border-bottom: $reddit-border-grey;
}

.reddit-mini-logo {
    width: 35px;
    height: 30px;
    display: flex;
    margin-left: 10px;
    .logo-tail {
        position: relative;
        top: 20px;
        left: 2px;
        width: 15px;
        height: 10px;
        background-color: rgb(175, 118, 249);
        background: linear-gradient(to bottom right, #ffffff00 0%, #ffffff00 50%, rgb(255, 69, 0) 50%, rgb(255, 69, 0) 100%);
        border-radius: 10px;
    }
    
    .logo-circle{
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: rgb(255, 69, 0);
        border-radius: 100%;
        font-size: 1.5rem;
    }
}

.bear{
    position: relative;
    left: 2.95px;
    top: 1px;
}
.title {
    display: none;
    color: rgb(255, 69, 0);
    margin: 0px;
    font-weight: 800;
    font-size: 30px;
    font-family: 'Outfit', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;

}

@media (min-width: 1000px){
    .title {
        display: flex;
    }
}