@import '../components/SearchBar';
@import '../components/Burger';
@import '../helpers/variables';

.headerContainer {
    height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
    background-color: #fff;
    border-bottom: $reddit-border-grey;
}

.title {
    color: green;
    margin: 0px;
}