.searchResults-page-container {
    display: flex;
    position: relative;
    top: $header-height;
    flex-flow: column;
    overflow-x: hidden;

}

.searchResults-header{
    background-color: $reddit-grey;
    height:31px;
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 0;

    border-radius: $rounded-rectangle;
    display: flex;
    justify-content: center;
align-items: center;
    p{
        padding-right: 5px;
    
        &:nth-child(2) {
            color: black; 
            font-weight: 600; 
          }}
}

.searchResults-no-results-container{
    // height: 100px;
    // width: 700px;
    // max-width: 700px;
    // display: flex;
    // justify-content: center;
}

.searchResults-no-results-body{

}