.searchBarContainer {
  background-color: plum;
  border-radius: 50px;
  border: 1px solid #f2f1f6;
  box-shadow: 0px 5px 5px #b8b7bc;
  margin: auto;
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: clamp(250px, 50%, 800px);
}

.searchBar {
  display: flex;
  border: 2px solid back;
  border-radius: 50px;
  background-color: #fff;
}

.searchInput {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 50px;
}

.searchButton {
  background-color: none;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  padding-left: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 100%;
  background-color: #fff;
}

@media (min-width: 550px) {
  .searchBarContainer {
    margin-left: 2rem;
    width: clamp(170px, 50%, 800px);
    margin: 1rem;
  }
}
/* ------------------------BURGER------------------------ */
.burgerContainer {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.burgerContainer:hover {
  background-color: rgb(234, 237, 239);
}
.burgerContainer .burgerBar {
  width: 18px;
  height: 1.5px;
  border-radius: 3px;
  background-color: rgb(19, 19, 19);
  margin: auto;
  position: relative;
  margin: auto;
}
.burgerContainer .burgerBar:nth-child(1) {
  bottom: 6px;
}
.burgerContainer .burgerBar:nth-child(3) {
  top: 6px;
}

/* -------------------- BURGER KEYFRAME ANIMATIONS-------------------- */
/* 
Modern browsers have widely adopted the standard @keyframes syntax, 
so the need for the -webkit-keyframes prefix has diminished over time. 
However, it's still common to see both versions for compatibility reasons. 
*/
@keyframes toBurgerTopBar {
  0% {
    transform: translateY(0px) rotate(45deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(-0.3rem) rotate(0deg);
  }
}
@keyframes toActiveTopBar {
  0% {
    transform: translateY(-0.3rem) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0.3rem) rotate(45deg);
  }
}
@keyframes toBurgerMiddleBar {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes toActiveMiddleBar {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes toBurgerBottomBar {
  0% {
    transform: translateY(0.3rem) rotate(135deg);
  }
  50% {
    top: 0;
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0.3rem) rotate(0deg);
  }
}
@keyframes toActiveBottomBar {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(-0.3rem) rotate(135deg);
  }
}
/* @-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
} */
.headerContainer {
  height: 56px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-flow: row wrap;
  background-color: #fff;
  border-bottom: 1px solid rgb(203, 203, 203);
}

.title {
  color: green;
  margin: 0px;
}/*# sourceMappingURL=header.css.map */