// Variables

//colors
$reddit-black: rgb(19, 19, 19);
$reddit-grey: rgb(234, 237, 239);
$reddit-grey-text: rgb(87, 111, 118);
$reddit-blue-link: rgb(0, 69, 172);
$reddit-red: rgb(255, 69, 0);
$reddit-grey-border: rgb(203, 203, 203);
$reddit-darker-grey-border: rgb(181, 181, 181);

$reddit-background: rgb(255, 255, 255);

$reddit-img-background: rgb(54, 62, 64);

$header-height: 56px;
$rounded-rectangle: 18px;
$reddit-border-grey: 1px solid $reddit-grey-border;

//BREAKPOINTS

$tablet: 768px;
$desktop: 960px;
$largeDesktop: 1200px;

//Z-ORDER 

// header is highest
$header-depth: 10;
$bring-forward: 1;