// Variables

//colors
$reddit-black: rgb(19, 19, 19);
$reddit-grey: rgb(234, 237, 239);
$reddit-grey-text: rgb(87, 111, 118);
$reddit-grey-border: rgb(203, 203, 203);
$reddit-background: rgb(255, 255, 255);


$header-height: 56px;
$rounded-rectangle: 18px;
$reddit-border-grey: 1px solid $reddit-grey-border;
