/* ------------------------BURGER------------------------ */

.burgerContainer {
    width: 40px;
    background-color: $reddit-grey;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .burgerBar {
        width: 18px;
        height: 1.5px;
        border-radius: 3px;
        background-color: $reddit-back;
        margin: auto;
        position: relative;
        margin: auto;
          &:nth-child(1) {
            bottom: 6px;
        }
          &:nth-child(2) {
            bottom: null;
          }
          &:nth-child(3) {
            top: 6px;
          }

    }

    &.active {
        padding: 5px;

        .burgerBar:nth-child(1) {
            transform: translateY(0.3rem) rotate(45deg);
        }

        .burgerBar:nth-child(2) {
            transform: rotate(45deg);
        }

        .burgerBar:nth-child(3) {
            transform: translateY(-0.9rem) rotate(135deg);
        }
    }
}

/* -------------------- BURGER KEYFRAME ANIMATIONS-------------------- */

/* 
Modern browsers have widely adopted the standard @keyframes syntax, 
so the need for the -webkit-keyframes prefix has diminished over time. 
However, it's still common to see both versions for compatibility reasons. 
*/



@keyframes toBurgerTopBar {
    0% {
        transform: translateY(0px) rotate(45deg);
    }

    50% {
        transform: translateY(0px) rotate(0deg);
    }

    100% {
        transform: translateY(-0.3rem) rotate(0deg);
    }
}

@keyframes toActiveTopBar {
    0% {
        transform: translateY(-0.3rem) rotate(0deg);
    }

    50% {
        transform: translateY(0px) rotate(0deg);
    }

    100% {
        transform: translateY(0.3rem) rotate(45deg);
    }
}





@keyframes toBurgerMiddleBar {
    0% {
        transform: rotate(45deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes toActiveMiddleBar {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}


@keyframes toBurgerBottomBar {
    0% {
        transform: translateY(+0.3rem) rotate(135deg);
    }

    50% {
        top: 0;
        transform: translateY(0px) rotate(0deg);
    }

    100% {
        transform: translateY(+0.3rem) rotate(0deg);
    }
}

@keyframes toActiveBottomBar {
    0% {
        transform: translateY(0px) rotate(0deg);
    }

    50% {
        transform: translateY(0px) rotate(0deg);
    }

    100% {
        transform: translateY(-0.3rem) rotate(135deg);
    }
}








/* @-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
} */