.dropdown-menu-page{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed; // Set the overlay to absolute
    top: calc($header-height + 1px);
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2; 
}

@media (min-width: 1000px){
    .dropdown-menu-page {
        display: none;
    }
}
