

.lead-img {
    height: 550px;
    width: 90%;
    object-fit: contain;
    background-color: $reddit-img-background;
    border-radius: $rounded-rectangle;
    margin: auto;
    @media (max-width: 508px) {
        height: 372px;
    }
}

.carousel-img{
    @extend .lead-img;
    z-index: 9;
    margin: auto;
    margin-top: 1rem;
    background-color: none;

}

.lead-video {
    height: 157px;
    width: 280px;
    margin: auto;
    @media (min-width: $small-phone) {
        height: 208px;
        width: 370px;
    }
    @media (min-width: $wide-phone) {
        height: 320px;
        width: 570px;
    }
    @media (min-width: $tablet) {
        height: 431px;
        width: 768px;
    }
    @media (min-width: $large-desktop) {
        height: 538px;
        width: 900px;
    }
}

.thumbnail-img {
    height: 100px;
    object-fit: contain;
    align-self: flex-start;
}


.slick-arrow {
    color: black;
}

.slider-arrow {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
  }
  
  .arrow-btn {
    top: 45%;
  }
  .next {
    float: right;
  }