// this class is used in Root.js, to hidden/visible the NavMenu in the <main> layout
//according to width of screen. Breakpoint: 1000px (real reddit is 1200px)
.wide-nav {
    visibility: hidden;
    display: none;

    @media (min-width: 1000px) {
        visibility: visible;
        display: block;
    }
}

a:-webkit-any-link {
    color: $reddit-black;
    cursor: pointer;
    text-decoration: none;
}

.menu-container {
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    position: sticky;
    top: 56px;
    width: 249px;
    height: calc(100vh - $header-height);
    border-right: $reddit-border-grey;
    background-color: $reddit-background;
}


.menu-section {
    margin: 1rem;
    border-bottom: $reddit-border-grey;
}

.section-title-container {
    padding: 1rem;

}

.section-title {
    padding-left: 1rem;
    color: $reddit-grey-text;
    text-transform: capitalize;
    font-weight: 400px;
}


.styled-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 1rem;

    li {
        margin: 0;
        padding: 1rem;
        text-decoration: none;
        color: $reddit-black;
        border-radius: 10px;

        &:hover{
            background-color: $reddit-grey;
        }
    }
}

