.post-layout-container {
    border-top: $reddit-border-grey;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    max-width: 700px;
}

//this is the overlay for the preview of longer self-text
//put here to that hover of post-container can affect color or overlay
#overlay {
    content: '';
    height: 80px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(253, 253, 253, 0.01));
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
}

.post-container {
    border-radius: $rounded-rectangle;
    padding: 1rem;

    &:hover {
        background-color: $reddit-grey;

        #overlay {
            background: linear-gradient(to top, $reddit-grey, rgba(253, 253, 253, 0.01));
        }
    }


}


.post-header {
    display: flex;
    flex-flow: column;
    font-size: .75rem;
    line-height: 1rem;
    margin-top: 1rem;


    .subreddit-name {
        font-weight: 700;
        margin: 0;
    }

    .author-name {
        margin: 0;
    }
}


.post-main {
    display: flex;
    flex-flow: column;

    .post-title {
        font-size: 1.125rem;
        font-weight: 600;
        margin-bottom: 1rem;


        @media (min-width: 750px) {
            font-size: 1.5rem;
        }

    }



    .flair {
        width: fit-content;
        border-radius: $rounded-rectangle;
        padding: 2px 7px; // Top/Bottom 2px, Left/Right 7px
        font-size: 0.75rem;
        margin: 0;
        margin-bottom: 0.5rem;
    }

    .self-text-preview-wrapper {
        max-height: 300px;
        overflow: hidden;
        line-height: 1.25rem;
        position: relative;

        p{
            margin-bottom: 0;
        }
    }

    .see-whole-post {
        display: block;
        color: $reddit-blue-link;

        &:hover {
            text-decoration: underline;
        }
    }
}
.post-bubbles {
    display: flex;
    flex-flow: row;
    font-size: 0.75rem;
}
.post-ups-bubble {
    background-color: $reddit-grey-border;
    width: 80px;
    height: 30px;
    display: flex;
    margin: 0.5rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: $rounded-rectangle;
    &:hover {
        background-color: $reddit-darker-grey-border;
    }
}

.comment-icon {
    color: $reddit-black;
    margin-right: 2.5px;
}

.post-comments-bubble {
    background-color: $reddit-grey-border;
    width: 60px;
    height: 30px;
    display: flex;
    margin: 0.5rem;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: $rounded-rectangle;
    &:hover {
        background-color: $reddit-darker-grey-border;
    }
}

.comment-icon {
    color: $reddit-black;
    margin-right: 2.5px;
}