.post-layout-container {
    border-top: $reddit-border-grey;
    padding: 0.25rem;
}

//this is the overlay for the preview of longer self-text
//put here to that hover of post-container can affect color or overlay
#overlay {
    content: '';
    height: 80px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(253, 253, 253, 0.01));
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
}

.post-container {
    border-radius: $rounded-rectangle;
    padding: 1rem;

    &:hover {
        background-color: $reddit-grey;

        #overlay {
            background: linear-gradient(to top, $reddit-grey, rgba(253, 253, 253, 0.01));
        }
    }

    .post-header {
        display: flex;
        flex-flow: column;
    }

    .post-main {
        .post-title {
            font-size: 1.25rem;
            font-weight: 500;
        }

        .flair {
            width: fit-content;
            border-radius: $rounded-rectangle;
            padding: 2px 7px; // Top/Bottom 2px, Left/Right 7px
            font-size: 0.75rem;
        }

        .self-text-preview-wrapper {
            max-height: 300px;
            overflow: hidden;
            line-height: 1.25rem;
            position: relative;
            margin-bottom: 1rem;
        }

        .see-whole-post {
            display: block;
            color: $reddit-blue-link;
            &:hover{
                text-decoration: underline;
            }
        }
    }

}

.comment-icon {
    color: $reddit-black;
}