@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
.wide-nav {
  visibility: hidden;
  display: none;
}
@media (min-width: 1000px) {
  .wide-nav {
    visibility: visible;
    display: block;
  }
}

a:-webkit-any-link {
  color: rgb(19, 19, 19);
  cursor: pointer;
  text-decoration: none;
}

.menu-container {
  display: block;
  overflow-x: hidden;
  overflow-y: scroll;
  position: sticky;
  top: 56px;
  width: 249px;
  height: calc(100vh - 56px);
  border-right: 1px solid rgb(203, 203, 203);
  background-color: rgb(255, 255, 255);
}

.menu-section {
  margin: 1rem;
  border-bottom: 1px solid rgb(203, 203, 203);
}

.section-title-container {
  padding: 1rem;
}

.section-title {
  padding-left: 1rem;
  color: rgb(87, 111, 118);
  text-transform: capitalize;
  font-weight: 400px;
}

.styled-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 1rem;
}
.styled-list li {
  margin: 0;
  padding: 1rem;
  height: 30px;
  text-decoration: none;
  color: rgb(19, 19, 19);
  border-radius: 10px;
}
.styled-list li:hover {
  background-color: rgb(234, 237, 239);
}
.styled-list .navLink {
  height: 30px;
  width: 249px;
  line-height: 2rem;
}

.post-layout-container {
  border-top: 1px solid rgb(203, 203, 203);
  padding: 0.25rem;
}

#overlay {
  content: "";
  height: 80px;
  background: linear-gradient(to top, rgb(255, 255, 255), rgba(253, 253, 253, 0.01));
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
}

.post-container {
  border-radius: 18px;
  padding: 1rem;
}
.post-container:hover {
  background-color: rgb(234, 237, 239);
}
.post-container:hover #overlay {
  background: linear-gradient(to top, rgb(234, 237, 239), rgba(253, 253, 253, 0.01));
}

.post-header {
  display: flex;
  flex-flow: column;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: 1rem;
}
.post-header .subreddit-name {
  font-weight: 700;
  margin: 0;
}
.post-header .author-name {
  margin: 0;
}

.post-main {
  display: flex;
  flex-flow: column;
}
.post-main .post-title {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
@media (min-width: 750px) {
  .post-main .post-title {
    font-size: 1.5rem;
  }
}
.post-main .lead-img {
  height: 550px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: rgb(54, 62, 64);
  border-radius: 18px;
  margin: auto;
}
.post-main .thumbnail-img {
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  align-self: flex-start;
}
.post-main .flair {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 18px;
  padding: 2px 7px;
  font-size: 0.75rem;
  margin: 0;
}
.post-main .self-text-preview-wrapper {
  max-height: 300px;
  overflow: hidden;
  line-height: 1.25rem;
  position: relative;
  margin-bottom: 1rem;
}
.post-main .see-whole-post {
  display: block;
  color: rgb(0, 69, 172);
}
.post-main .see-whole-post:hover {
  text-decoration: underline;
}

.post-bubbles {
  display: flex;
  flex-flow: row;
  font-size: 0.75rem;
}

.post-ups-bubble {
  background-color: rgb(203, 203, 203);
  width: 80px;
  height: 30px;
  display: flex;
  margin: 0.5rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
}
.post-ups-bubble:hover {
  background-color: rgb(181, 181, 181);
}

.comment-icon {
  color: rgb(19, 19, 19);
  margin-right: 2.5px;
}

.post-comments-bubble {
  background-color: rgb(203, 203, 203);
  width: 60px;
  height: 30px;
  display: flex;
  margin: 0.5rem;
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
}
.post-comments-bubble:hover {
  background-color: rgb(181, 181, 181);
}

.comment-icon {
  color: rgb(19, 19, 19);
  margin-right: 2.5px;
}

.comment-header .comment-author-name {
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: 1rem;
  font-weight: 700;
  margin: 0;
}

.comment-body {
  font-size: 0.875rem;
  margin: 0.5rem;
  margin-bottom: 1.75rem;
}

.comment-ups {
  display: flex;
  flex-flow: row;
  align-items: center;
  height: 1rem;
}
.comment-ups .comment-ups-icon {
  font-size: 1rem;
  margin: 0.25rem;
}
.comment-ups .comment-ups-number {
  font-weight: 600;
}

.loading-page-container {
  display: flex;
  margin: auto;
  color: rgb(255, 69, 0);
}

@keyframes bounce {
  0%, 20%, 60%, 80%, 100% {
    transform: translateY(0);
  }
  45% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(-10px);
  }
}
.loading-container {
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loading-text {
  font-size: 1.25rem;
  font-weight: 700;
}

.dots-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  height: 70px;
}

.dot-one, .dot-two, .dot-three {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(255, 69, 0);
  margin: 0 5px;
  animation: bounce 1s infinite ease-in-out;
}

.dot-two {
  animation-delay: 150ms;
}

.dot-three {
  animation-delay: 300ms;
}

.searchBarContainer {
  border-radius: 50px;
  border: 1px solid #f2f1f6;
  margin-left: 1rem;
  margin-bottom: 1rem;
  width: clamp(250px, 50%, 800px);
  background-color: rgb(234, 237, 239);
}
.searchBarContainer:active, .searchBarContainer:hover, .searchBarContainer:focus-within {
  box-shadow: 0px 5px 5px #b8b7bc;
}

.searchBar {
  display: flex;
  border-radius: 50px;
}

.searchInput {
  flex: 1;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 50px;
  background-color: rgb(234, 237, 239);
}

.searchButton {
  background-color: none;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  padding-left: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 100%;
  background-color: rgb(234, 237, 239);
}

@media (min-width: 550px) {
  .searchBarContainer {
    margin-left: 2rem;
    width: clamp(170px, 50%, 800px);
    margin: 1rem;
  }
}
/* ------------------------BURGER------------------------ */
.burgerContainer {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.burgerContainer:hover {
  background-color: rgb(234, 237, 239);
}
.burgerContainer .burgerBar {
  width: 18px;
  height: 1.5px;
  border-radius: 3px;
  background-color: rgb(19, 19, 19);
  margin: auto;
  position: relative;
  margin: auto;
}
.burgerContainer .burgerBar:nth-child(1) {
  bottom: 6px;
}
.burgerContainer .burgerBar:nth-child(3) {
  top: 6px;
}

@media (min-width: 1000px) {
  .burgerContainer {
    display: none;
  }
}
/* -------------------- BURGER KEYFRAME ANIMATIONS-------------------- */
/* 
Modern browsers have widely adopted the standard @keyframes syntax, 
so the need for the -webkit-keyframes prefix has diminished over time. 
However, it's still common to see both versions for compatibility reasons. 
*/
@keyframes toBurgerTopBar {
  0% {
    transform: translateY(0px) rotate(45deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(-0.3rem) rotate(0deg);
  }
}
@keyframes toActiveTopBar {
  0% {
    transform: translateY(-0.3rem) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0.3rem) rotate(45deg);
  }
}
@keyframes toBurgerMiddleBar {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes toActiveMiddleBar {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}
@keyframes toBurgerBottomBar {
  0% {
    transform: translateY(0.3rem) rotate(135deg);
  }
  50% {
    top: 0;
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(0.3rem) rotate(0deg);
  }
}
@keyframes toActiveBottomBar {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(-0.3rem) rotate(135deg);
  }
}
/* @-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }

    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
} */
.dropdown-menu-page {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 57px;
  right: 0;
  bottom: 0;
  left: 1rem;
  z-index: 2;
}

@media (min-width: 1000px) {
  .dropdown-menu-page {
    display: none;
  }
}
.headerContainer {
  height: 56px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-flow: row wrap;
  background-color: #fff;
  border-bottom: 1px solid rgb(203, 203, 203);
}

.reddit-mini-logo {
  width: 35px;
  height: 30px;
  display: flex;
  margin-left: 10px;
}
.reddit-mini-logo .logo-tail {
  position: relative;
  top: 20px;
  left: 2px;
  width: 15px;
  height: 10px;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgb(255, 69, 0) 50%, rgb(255, 69, 0) 100%);
  border-radius: 10px;
}
.reddit-mini-logo .logo-circle {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 69, 0);
  border-radius: 100%;
  font-size: 1.5rem;
}

.bear {
  position: relative;
  left: 2.95px;
  top: 1px;
}

.title {
  display: none;
  color: rgb(255, 69, 0);
  margin: 0px;
  font-weight: 800;
  font-size: 30px;
  font-family: "Outfit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

@media (min-width: 1000px) {
  .title {
    display: flex;
  }
}
.thread-page-container {
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
}

.thread-post-container {
  border-radius: 18px;
  padding: 1rem;
}

.subreddit-page-container {
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
}

.subreddit-header-container {
  display: flex;
  flex-flow: column;
  padding-left: 1rem;
  margin-top: 0.5rem;
}

.subreddit-banner {
  border-radius: 18px;
  height: 64px;
  margin-right: 1rem;
  overflow: hidden;
  position: relative;
}
.subreddit-banner .banner-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.subreddit-header-icon-and-name {
  display: flex;
  flex-flow: row;
  height: 60px;
}
.subreddit-header-icon-and-name .subreddit-header-community-icon {
  height: 80px;
  width: 80px;
  background-color: rgb(234, 237, 239);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-top: 0.5rem;
  position: relative;
  bottom: 3rem;
  left: 2rem;
}
.subreddit-header-icon-and-name .subreddit-name {
  margin: 0;
  padding-left: 2.5rem;
  letter-spacing: 0.25px;
}

.subreddit-bio {
  margin: 1rem;
  margin-top: 0;
  padding: 1rem;
  background-color: rgb(234, 237, 239);
  border-radius: 18px;
  width: -moz-fit-content;
  width: fit-content;
}
.subreddit-bio .subreddit-bio-title {
  font-weight: 700;
}

@media (min-width: 768px) {
  .subreddit-banner {
    height: 96px;
  }
}
@media (min-width: 960px) {
  .subreddit-banner {
    height: 128px;
  }
}
.home-link {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
}
.home-link:hover {
  background-color: rgb(234, 237, 239);
}

.home-subreddit-community-icon {
  height: 50px;
  width: 50px;
}

html {
  font-size: 16px;
}

body {
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

ul {
  list-style-type: none; /* Removes bullets from an unordered list */
}

@media (min-width: 1000px) {
  .mainContainer {
    display: flex;
  }
}
.community-icon {
  height: 100%;
  width: 100%;
  margin-right: 0.5rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=main.css.map */